<form action="/clients/signin" method="post">
  <div class="form-group">
    <label for="userName">Username:</label>
    <input id="userName" name="userName" class="form-control" type="text" required>
  </div>
  <button class="btn btn-success" type="submit">Create account</button>
</form>
