<ul class="nav navbar-nav nav-pills navbar-left pull-left">
  <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
</ul>

<ul class="nav navbar-nav nav-pills navbar-right pull-right">
  <li><a href="/clients">Clients</a></li>
  <li><a href="/stylists">Stylists</a></li>
</ul>
